In [1]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format
from sklearn.preprocessing import MultiLabelBinarizer
import numpy as np
import sys
from itertools import combinations, groupby
from collections import Counter
from IPython.display import display
from efficient_apriori import apriori

## Dataset de Películas:

In [2]:
Peliculas = pd.read_csv("C:/Users/Macarena/Desktop/Nueva carpeta/movies.csv")
Peliculas.sample(5)

,movieId,title,genres
10069,33226,Zatoichi Meets the One-Armed Swordsman (Shin z...,Action|Adventure|Drama
21516,104372,"Cry in the Night, A (1956)",Crime|Drama|Film-Noir
24037,114028,Pride (2014),Comedy|Drama
23512,111913,Lilting (2014),Drama
23832,113220,"Dog, The (2013)",Documentary

Separamos los datos que vienen en una única columna pero podrían requerirse analizar por separado, como son el Año del Título.

In [3]:
Peliculas_temp1 = []
Peliculas_temp2 = []
for row in Peliculas["title"]:
    temp1 = len(row)
    Peliculas_temp1.append(row[:temp1 - 7])
    Peliculas_temp2.append(row[temp1 - 5:temp1 - 1])
Peliculas["title"] = Peliculas_temp1
Peliculas["year"] = Peliculas_temp2
Peliculas.sample(5)

       movieId              title              genres  year
11973    53999          Captivity      Crime|Thriller  2007
10317    34583          Prime Cut  Action|Crime|Drama  1972
16509    83381      Seven Thieves         Crime|Drama  1960
2962      3049  How I Won the War          Comedy|War  1967
5096      5193   Jazz Singer, The             Musical  1980

En caso del Género, existen valores que en si no representan un género real y decidimos reemplazarlos por Null, estos son (no genres listed) e IMAX. Además los valores los convertimos en columnas binarias, identificando si aplica o no al género en cuestión.

In [4]:
lb_2 = MultiLabelBinarizer()
Peliculas=Peliculas.join(pd.DataFrame(lb_2.fit_transform(Peliculas.genres.str.split("|")), columns=lb_2.classes_, index=Peliculas.index))
pd.concat([Peliculas["genres"],Peliculas[Peliculas.columns[3:]]],axis=1).drop_duplicates().sample(5)

,genres,year,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
11314,Animation|Children|Comedy|Musical,1972,0,0,0,1,1,1,0,0,...,0,0,0,1,0,0,0,0,0,0
24208,Horror,1969,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1179,Adventure|Drama|War,1962,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1067,Crime|Mystery|Thriller,1992,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0
4215,Action|Drama|Romance|War,2001,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [5]:
Peliculas = Peliculas.drop('genres', 1)
Peliculas = Peliculas.drop('(no genres listed)', 1)
Peliculas = Peliculas.drop('IMAX', 1)
Peliculas.sample(5)

,movieId,title,year,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
14192,71184,Valentino: The Last Emperor,2008,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
19644,97186,Sinivalkoinen valhe,2012,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6345,6455,North to Alaska,1960,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
24084,114197,Noam Chomsky: Distorted Morality,2003,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
336,340,"War, The",1994,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

Tamaño del dataset:

In [6]:
Peliculas.shape

(27278, 21)

## Dataset de Calificaciones:

In [7]:
Calificaciones = pd.read_csv("C:/Users/Macarena/Desktop/Nueva carpeta/ratings.csv")
Calificaciones.sample(5)

          userId  movieId  rating   timestamp
14186988   97953     5956    3.50  1240520934
8813305    60919      457    4.00  1146322756
12598057   87039      920    1.50  1054230280
9521436    65872   109487    4.00  1415733708
18769594  129995     4084    3.00   990480599

Consideraremos solo aquellas películas con buena calificación ya que creemos que tomarse la molestia de hacer una mala calificacion puede interpretarse como que la película disgustó más aun que si no se la hubiese calificado con ningún valor.

In [8]:
#print('Mínimo rating: ',Calificaciones_min["rating"].min())
#print('Máximo rating: ',Calificaciones_min["rating"].max())

In [9]:
#Calificaciones_min = Calificaciones_min[Calificaciones_min["rating"] >= 4]
#Comentado por falta de recursos en mi computadora personal.

Tanto la variable de tiempo como el rating no son relevantes para el análisis de ahora en más.

In [10]:
Calificaciones = Calificaciones.drop('rating', 1)
Calificaciones = Calificaciones.drop('timestamp', 1)
Calificaciones.sample(5)

          userId  movieId
9172167    63381      185
8856220    61187      457
10071156   69664     1222
15221992  105216       16
13888065   95949     3812

Tamaño del dataset:

In [11]:
Calificaciones.shape

(20000263, 2)

In [12]:
Calificaciones['userId'].unique().shape

(138493,)

In [13]:
Calificaciones['movieId'].unique().shape

(26744,)

In [14]:
Calificaciones.groupby('movieId').size().sort_values(ascending=False)

movieId
296       67310
356       66172
318       63366
593       63299
480       59715
260       54502
110       53769
589       52244
2571      51334
527       50054
1         49695
457       49581
150       47777
780       47048
50        47006
1210      46839
592       46054
1196      45313
2858      44987
32        44980
590       44208
1198      43295
608       43272
47        43249
380       43159
588       41842
377       41562
1270      41426
858       41355
2959      40106
          ...
110006        1
84691         1
84689         1
110032        1
110034        1
110042        1
110046        1
84680         1
110052        1
110056        1
110061        1
110063        1
110070        1
110086        1
110090        1
110097        1
84660         1
110114        1
84565         1
110134        1
84540         1
110140        1
84538         1
110163        1
110167        1
84534         1
84500         1
84442         1
84436         1
131262        1
Length: 26744, dtype: int64

## Reglas de Asociación entre Películas (acotado):

In [15]:
Calificaciones_Peliculas = pd.merge(Calificaciones[['userId','movieId']], Peliculas[['movieId','title']] ,on='movieId', how= "inner")
Calificaciones_Peliculas.shape

(20000263, 3)

Calificaciones_Peliculas tiene la misma cantidad de filas que Calificaciones, es decir que todas las películas calificadas existen en Peliculas.

In [16]:
Calificaciones_Peliculas_Min = Calificaciones_Peliculas.sample(1000)

In [17]:
Calificaciones_Peliculas_Min = Calificaciones_Peliculas_Min.sort_values( by=['userId','movieId'], axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')
Calificaciones_Peliculas_Min_Array = Calificaciones_Peliculas_Min.values[:,[0,2]]
print(Calificaciones_Peliculas_Min_Array)

[[102 "Amelie (Fabuleux destin d'Amélie Poulain, Le)"]
 [387 'Willard']
 [394 'Goldfinger']
 ...
 [138162 'Clockwatchers']
 [138225 'Rushmore']
 [138417 'Paper Chase, The']]

In [18]:
transactions=[]
for userId, title in groupby(Calificaciones_Peliculas_Min_Array, lambda x: x[0]):
    transactions.append([item[1] for item in title])
print(transactions)

[["Amelie (Fabuleux destin d'Amélie Poulain, Le)"], ['Willard'], ['Goldfinger'], ['High Noon'], ['Working Girl'], ["St. Elmo's Fire"], ['Spider-Man 2'], ['Pirates of the Caribbean: On Stranger Tides'], ['Exit to Eden'], ['Tomorrow Never Dies'], ['Force 10 from Navarone'], ['What a Girl Wants'], ['Sleepless in Seattle'], ['Winged Migration (Peuple migrateur, Le)'], ['Dogville'], ['Station Agent, The'], ["Something's Gotta Give"], ['Leaving Las Vegas'], ['Leaving Las Vegas'], ['Forrest Gump'], ["Boys Don't Cry"], ['Silence of the Lambs, The'], ['Quest, The'], ['Roxanne'], ["Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone)"], ['Mighty Morphin Power Rangers: The Movie'], ['Pay It Forward', 'Gangs of New York'], ['Judgment Night'], ['Silence of the Lambs, The'], ['Madagascar'], ['101 Dalmatians'], ['Exam'], ['Charade'], ['Hoop Dreams'], ['Star Wars: Episode IV - A New Hope'], ['Beverly Hills Cop II'], ['Seven Samurai (Shichinin no samurai)'], ['Road to Perdition'], ['Super Size Me'], ['Merchant of Venice, The'], ['Starman'], ['Platoon'], ['Crimson Tide'], ['Moonrise Kingdom'], ['Clockers'], ['Game, The'], ['Glory'], ['Magnolia'], ['Interview with the Vampire: The Vampire Chronicles'], ['Another Stakeout'], ['Ideal Husband, An'], ['Get Shorty'], ['Madagascar'], ['Bats'], ['Wallace & Gromit: The Wrong Trousers'], ['King Kong'], ['Mating Habits of the Earthbound Human, The'], ['Pulp Fiction'], ['Frighteners, The'], ['Dave'], ['Swiss Family Robinson'], ['Elizabeth'], ['Alien³ (a.k.a. Alien 3)'], ['Capote'], ["Don't Look Back"], ['Scarface'], ['L.A. Confidential'], ['Attack of the Killer Tomatoes!'], ['Black Hawk Down'], ['Bull Durham'], ['300'], ['Wallace & Gromit: A Close Shave'], ['Unzipped'], ['Mexican, The'], ['Dr. No'], ['Almost Famous'], ['Four Weddings and a Funeral'], ['Spy Kids 3-D: Game Over'], ['Cosmos'], ['Stepford Wives, The'], ['Grosse Pointe Blank'], ['Wallace & Gromit: The Wrong Trousers'], ['Garden State'], ['Ben-Hur'], ['Star Wars: Episode II - Attack of the Clones'], ['Thin Red Line, The'], ['Annie Hall'], ['Odd Couple, The'], ['Unbreakable'], ['Reality Bites'], ['Patton'], ['Quiz Show'], ['Hurt Locker, The'], ['Manchurian Candidate, The'], ['Running Scared'], ['Pirates of the Caribbean: The Curse of the Black Pearl'], ['Dark Knight Rises, The'], ['Insider, The'], ['Legend of Boggy Creek, The'], ['Beautiful Mind, A'], ['Misery'], ['Wicker Man, The'], ["Bug's Life, A"], ['28 Days Later'], ['I Am Legend'], ['Starship Troopers'], ['Air Force One'], ['Lolita'], ['Craft, The'], ['Edge of Tomorrow'], ['Memento'], ['Life of David Gale, The'], ['Fifth Element, The'], ['Starman'], ['Jonah Hex'], ["God Said 'Ha!'"], ['Strawberry and Chocolate (Fresa y chocolate)'], ['Avengers, The'], ['Star Wars: Episode IV - A New Hope'], ['Sneakers'], ['Imaginarium of Doctor Parnassus, The'], ['Knocked Up'], ['Batman Returns'], ['Die Hard: With a Vengeance'], ['Groundhog Day'], ['Exorcist, The'], ['Mission: Impossible'], ['Waking Ned Devine (a.k.a. Waking Ned)'], ['Maria Full of Grace (Maria, Llena eres de gracia)'], ['Prestige, The'], ['Lord of the Rings: The Return of the King, The'], ['Sleepers'], ['Shaft'], ['L.A. Confidential'], ['Bottle Rocket'], ['Jurassic Park'], ['Someone to Watch Over Me'], ['Haunting, The'], ['Transformers'], ['Conspiracy Theory'], ['Donnie Brasco'], ['Chain Reaction'], ["Ocean's Thirteen"], ['Aliens'], ['O Brother, Where Art Thou?'], ["Kiki's Delivery Service (Majo no takkyûbin)"], ['Chasing Amy'], ['Parents'], ['Eating Raoul'], ["Bug's Life, A"], ['Minority Report'], ['Fargo'], ['Meet Joe Black'], ['Peacemaker, The'], ['Billy Elliot'], ['Con Air'], ['Deep Red (Profondo rosso)'], ["Child's Play 2"], ['Die Another Day'], ['Labyrinth'], ['Shark Tale'], ['When a Man Loves a Woman'], ['The Butterfly Effect'], ['Batman Begins'], ['Ruthless People'], ['Coneheads'], ['American History X'], ['Player, The'], ['African Queen, The'], ['Blues Brothers, The'], ['Get Carter'], ['Garden State'], ['Full Metal Jacket'], ["Devil's Own, The"], ['EDtv'], ['Avengers, The'], ['Candyman'], ['Ice Age'], ['Edward Scissorhands'], ['Lord of the Rings: The Return of the King, The'], ['Perfect World, A'], ['Monsters, Inc.'], ['Star Trek V: The Final Frontier'], ['Erin Brockovich'], ['Johnny Mnemonic'], ['Goodfellas'], ['Snake Eyes'], ['Good Luck Chuck'], ['Skulls, The'], ['Go'], ["Amelie (Fabuleux destin d'Amélie Poulain, Le)"], ['Vanilla Sky'], ['Ninotchka'], ['Terminator 2: Judgment Day'], ['Sting, The'], ['Silver Linings Playbook'], ['Great Escape, The'], ['Iron Man'], ['Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark)'], ['Blade Runner'], ['Crazies, The'], ['Desperado'], ['City Lights'], ['Supercop (Police Story 3: Supercop) (Jing cha gu shi III: Chao ji jing cha)'], ['Substitute, The'], ['Batman'], ['Monsters, Inc.', 'Priceless (Hors de prix)'], ['Remains of the Day, The'], ['Shawshank Redemption, The'], ['Twelve Monkeys (a.k.a. 12 Monkeys)'], ['Recruit, The'], ['Aviator, The'], ['Down Periscope'], ['Bachelor Party'], ['Prom Night'], ['We Were Soldiers'], ['Raven, The'], ['Lord of the Rings: The Two Towers, The'], ['Clerks'], ['Antitrust'], ['Conspiracy Theory'], ['Ghostbusters (a.k.a. Ghost Busters)'], ['X-Men'], ['Anastasia'], ['Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb'], ['Odd Couple, The'], ['Office Space'], ['Tora! Tora! Tora!', 'Cold Mountain'], ['Clockwork Orange, A'], ['Yellow Submarine'], ['American History X'], ['Pulp Fiction'], ['Shrek'], ['Batman'], ['Persuasion'], ['Like Water for Chocolate (Como agua para chocolate)', 'Terms of Endearment'], ['Godfather: Part II, The'], ['Dances with Wolves'], ['Flintstones, The'], ['Léon: The Professional (a.k.a. The Professional) (Léon)'], ['Incredible Shrinking Man, The'], ['Batman Beyond: Return of the Joker'], ['Freaks'], ['Graduate, The'], ['Pirates of the Caribbean: The Curse of the Black Pearl'], ['Squid and the Whale, The'], ['Hollow Man'], ['Space Jam'], ['Sleepless in Seattle'], ['Godfather, The'], ['Dumb & Dumber (Dumb and Dumber)'], ['Reversal of Fortune'], ['Casino Royale'], ['Arachnophobia'], ['Tsotsi'], ['Godzilla'], ['Liar Liar'], ['Up in the Air'], ['Last Samurai, The'], ['Burn After Reading'], ['Chocolat'], ['Three Colors: Red (Trois couleurs: Rouge)'], ['Beauty of the Day (Belle de jour)'], ['Shawshank Redemption, The'], ['Family Man, The'], ['War, The'], ['Galaxy Quest', 'Steal This Film'], ['Mummy, The'], ['Grass Harp, The'], ['Tender Mercies'], ['Romancing the Stone'], ['Good Will Hunting'], ['Ghost and the Darkness, The'], ['Seabiscuit'], ['Poltergeist'], ['Guinevere'], ["Pan's Labyrinth (Laberinto del fauno, El)"], ['October Sky'], ['Avatar'], ['Others, The'], ['16 Blocks'], ['Lifeforce'], ['GoldenEye'], ['Chicken Run'], ['Dances with Wolves'], ['Gorillas in the Mist'], ["Schindler's List"], ['Footloose'], ['Die Hard: With a Vengeance'], ["Ferris Bueller's Day Off"], ['Little Nicky'], ["All the President's Men"], ['World War Z'], ['Varsity Blues'], ['Vertigo'], ['Secret Garden, The'], ['Jurassic Park III'], ['Chocolat'], ['Top Gun'], ['Stargate'], ['Cold Mountain'], ['Jurassic Park'], ['Pretty in Pink'], ['Down Periscope'], ['Small Soldiers'], ['Fatal Attraction'], ['Hello Mary Lou: Prom Night II'], ['South Park: Bigger, Longer and Uncut'], ['Escape from New York'], ['Mortal Kombat'], ['North by Northwest'], ['Blues Brothers 2000'], ['Batman Forever', 'Matrix Reloaded, The'], ['Meet the Parents'], ['Doctor, The'], ['Full Metal Jacket'], ['Right Stuff, The'], ['Shine'], ['Taking Chance'], ['Artist, The'], ['Naked Gun 2 1/2: The Smell of Fear, The'], ['Exit to Eden'], ['Fantastic Four'], ['Lion King, The'], ['Virgin Suicides, The'], ['Chasing Amy'], ['The Butterfly Effect'], ['Office Space'], ['What About Bob?'], ['Lord of the Rings: The Two Towers, The'], ['Wrongfully Accused'], ['Do the Right Thing'], ['Boot, Das (Boat, The)'], ['Ugly Truth, The'], ['Double Jeopardy'], ['Bubba Ho-tep'], ['Truman Show, The'], ['Lethal Weapon'], ['Lawnmower Man 2: Beyond Cyberspace'], ['Home for the Holidays'], ['North by Northwest'], ['Resurrecting the Champ'], ['Ghost Story'], ['Curdled'], ['Beauty and the Beast'], ['Condition Red (Beyond the Law)'], ['Austin Powers: The Spy Who Shagged Me'], ['Seven (a.k.a. Se7en)'], ['Ace Ventura: Pet Detective'], ['Big Lebowski, The'], ['Indiana Jones and the Temple of Doom'], ['Lone Star'], ["Boys Don't Cry"], ['Down Periscope'], ['The Raid 2: Berandal'], ['Crow, The'], ['Dark Knight, The'], ['Milk Money'], ['Fargo'], ['Win Win'], ['Rocky IV'], ['Adventures in Babysitting'], ['Adventures of Ford Fairlane, The'], ['Celtic Pride'], ['Being There'], ['Sixth Sense, The'], ['Empire Records'], ['American Beauty'], ['Stone'], ['Dances with Wolves'], ['Great Escape, The'], ['Seven Pounds'], ['Aladdin'], ["Pan's Labyrinth (Laberinto del fauno, El)"], ['Pulp Fiction'], ['French Kiss'], ["Charlie's Angels: Full Throttle"], ['Of Mice and Men'], ['Final Fantasy: The Spirits Within'], ['Evil Dead, The'], ['Doomsday'], ['Fantasia 2000'], ['In the Line of Fire'], ['Annie Hall'], ['Witches of Eastwick, The'], ['Powerpuff Girls, The'], ['Getting Even with Dad'], ['Galaxy Quest'], ['Die Hard: With a Vengeance'], ['Batman'], ['Snow Falling on Cedars'], ["What's Eating Gilbert Grape"], ['Sentinel, The'], ['Hancock'], ['Parent Trap, The'], ['Titanic'], ['Star Trek: First Contact'], ['Ghost'], ['Princess and the Warrior, The (Krieger und die Kaiserin, Der)'], ['Dead Man'], ["Breakfast at Tiffany's"], ['Island of Dr. Moreau, The'], ['Rollerball'], ['Night of the Generals, The'], ['Robots'], ['Beautiful Mind, A'], ['Superbad'], ['Club Dread'], ['Rumble in the Bronx (Hont faan kui)'], ['Godfather, The'], ['Hunt for Red October, The'], ['October Sky'], ['Extreme Measures'], ['Shadow of the Vampire'], ['Rock, The'], ['Hero (Ying xiong)'], ['From the Earth to the Moon'], ['Untouchables, The'], ['Frighteners, The'], ["Jumpin' Jack Flash"], ['Toy Story 2'], ['Mrs. Doubtfire'], ['Bourne Supremacy, The'], ['Star Wars: Episode III - Revenge of the Sith'], ['Friday the 13th Part 2'], ['Snow White and the Seven Dwarfs'], ['Wallace & Gromit: The Wrong Trousers'], ['Pretty Woman'], ['Point Break'], ['Philadelphia'], ['I Know What You Did Last Summer'], ['Sting, The'], ['Farewell My Concubine (Ba wang bie ji)'], ['Babe'], ['Scarface'], ['Zulu Dawn'], ['Mask, The', 'Total Recall'], ['Terminator 2: Judgment Day'], ['What About Bob?'], ['Friday the 13th Part VIII: Jason Takes Manhattan'], ['Heavenly Creatures'], ['Jaws 3-D'], ['Solaris'], ['Never Been Kissed'], ['Jurassic Park'], ['Dances with Wolves'], ['Bio-Dome'], ['Far and Away'], ['Star Trek: The Motion Picture'], ['Monty Python and the Holy Grail'], ['Fugitive, The'], ['Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark)'], ['Way Home, The (Jibeuro)'], ['Dune'], ['French Connection, The'], ['Dante 01'], ['Halloween: The Curse of Michael Myers (Halloween 6: The Curse of Michael Myers)'], ['Big'], ['Some Kind of Wonderful'], ['Independence Day (a.k.a. ID4)'], ['Soylent Green'], ["Bug's Life, A"], ['Ronin'], ['Fifth Element, The'], ['Drömkåken'], ['Major League'], ['Down Periscope'], ['Casablanca'], ['Beauty and the Beast'], ['L.A. Confidential'], ['Hunger'], ['Fifth Element, The'], ['Show Me Love (Fucking Åmål)'], ["Shaft's Big Score!"], ["There's Something About Mary"], ['Raising Arizona'], ['Queen of the Damned'], ['Gods Must Be Crazy, The'], ['Eddie Murphy Delirious'], ["Charlie's Angels: Full Throttle"], ['Splash'], ['Princess Bride, The'], ['Predator 2'], ['Under Siege 2: Dark Territory', 'Bushwhacked'], ['Something to Talk About'], ['Face/Off'], ['E.T. the Extra-Terrestrial'], ['American Beauty'], ['Game, The'], ['Alien'], ['Showgirls'], ['True Lies'], ["Jumpin' Jack Flash"], ['Platoon'], ['Edward Scissorhands'], ['Bushwhacked'], ['Indiana Jones and the Last Crusade'], ['Magnolia'], ['As Good as It Gets'], ['Beauty and the Beast'], ['Diabolique'], ['About a Boy'], ['Angus'], ['Land Before Time III: The Time of the Great Giving'], ['Blade Runner'], ['Mysterious Skin'], ['American Beauty'], ['Dragonfly'], ["What's Eating Gilbert Grape"], ['Casino'], ['Office Space'], ['Butch Cassidy and the Sundance Kid', 'Name of the Rose, The (Name der Rose, Der)'], ['Coming Home'], ["Ocean's Eleven"], ['Sound of Music, The'], ['Mission: Impossible'], ['Music of the Heart'], ['Bikini Beach'], ['Cool Hand Luke'], ['Of Mice and Men'], ['Forget Paris'], ["Romy and Michele's High School Reunion"], ['Who Framed Roger Rabbit?'], ['Ghostbusters (a.k.a. Ghost Busters)'], ['League of Their Own, A'], ['Battleship'], ['Adventures of Milo and Otis, The (Koneko monogatari)'], ['Waking Ned Devine (a.k.a. Waking Ned)'], ['Drag Me to Hell'], ['Mary Poppins'], ['Twister'], ['Stranger than Fiction'], ['Lethal Weapon 2'], ['Fight Club'], ['Untouchables, The'], ['Exit Through the Gift Shop'], ['Memento'], ['Pink Panther, The'], ['Terminal, The'], ['City Slickers'], ['Richie Rich'], ['Double Jeopardy'], ['As Good as It Gets'], ['Fearless'], ['X-Men'], ['Star Wars: Episode V - The Empire Strikes Back'], ['Office Space'], ['Conversation, The', 'School of Rock'], ['Dunston Checks In'], ['Saw III'], ['My Left Foot'], ['Windtalkers'], ['Zack and Miri Make a Porno'], ['O Brother, Where Art Thou?'], ['Rob Roy'], ["Mary Shelley's Frankenstein (Frankenstein)"], ['Wyatt Earp'], ['Silence of the Lambs, The'], ['Scary Movie'], ['Kung Fu Hustle (Gong fu)'], ['Pinocchio'], ['Goldfinger'], ['Drumline'], ['Cape Fear'], ['Clerks'], ['Net, The'], ['Quantum of Solace'], ['Crocodile Dundee in Los Angeles'], ['Austin Powers: The Spy Who Shagged Me'], ['Bad Santa'], ['Godfather: Part III, The'], ['Nine Months'], ['Hotel Rwanda'], ['Free Willy 2: The Adventure Home'], ['James and the Giant Peach'], ['Gandhi'], ['Snakes on a Plane'], ['Face/Off'], ['Mission: Impossible II'], ['Mrs. Winterbourne'], ["Howl's Moving Castle (Hauru no ugoku shiro)"], ["Bride of Chucky (Child's Play 4)"], ['Stupids, The'], ['Candyman: Farewell to the Flesh'], ['Twins'], ['High Fidelity'], ['Star Trek: First Contact'], ['Austin Powers: International Man of Mystery'], ['Charade'], ['Cinema Paradiso (Nuovo cinema Paradiso)'], ['Brady Bunch Movie, The'], ['Mars Attacks!'], ['Super Mario Bros.'], ['40-Year-Old Virgin, The'], ['Shaun of the Dead'], ['Arlington Road'], ['Undercover Brother'], ['Mission, The'], ['Ghostbusters (a.k.a. Ghost Busters)'], ['Bridge on the River Kwai, The'], ['Snow Falling on Cedars'], ['Terminator 3: Rise of the Machines'], ['Forrest Gump'], ['Ghost'], ['Confidence'], ['Gomorrah (Gomorra)'], ['Fifth Element, The'], ['Lord of the Rings: The Return of the King, The'], ['Miss Congeniality'], ['Braveheart'], ['Up'], ['Jay and Silent Bob Strike Back'], ['Roman Holiday'], ['Official Story, The (La historia oficial)'], ['Life Is Beautiful (La Vita è bella)'], ["Wallace and Gromit in 'A Matter of Loaf and Death'"], ['Cape Fear'], ['Dick Tracy'], ['Dumb & Dumber (Dumb and Dumber)'], ['Pineapple Express'], ["Barney's Great Adventure"], ['Ghostbusters (a.k.a. Ghost Busters)'], ['Twister'], ['American Pie'], ['Casino Royale'], ['Kill Bill: Vol. 1'], ['Blow'], ["Monty Python's Life of Brian"], ["Knockin' on Heaven's Door"], ['Soldier'], ['Waiting for Guffman'], ['Die Another Day'], ['Kissed'], ['Spy Hard'], ['Gattaca'], ['Time Machine, The'], ['My Stepmother Is an Alien'], ['Die Hard: With a Vengeance'], ['Adventures of Pinocchio, The'], ['Super Mario Bros.'], ['Galaxy Quest'], ['Death Becomes Her'], ['Under Siege 2: Dark Territory'], ['The Prince'], ['Waterworld'], ['Election'], ['Living in Oblivion'], ['Fast and the Furious: Tokyo Drift, The (Fast and the Furious 3, The)'], ['True Lies'], ['Ronin'], ['Rush'], ['Goodfellas'], ['Elizabeth'], ['Rookie, The'], ['Ace Ventura: When Nature Calls'], ['Specialist, The'], ['King Kong'], ['Willy Wonka & the Chocolate Factory'], ['Inception'], ['Net, The'], ['Coneheads'], ['Eyes Wide Shut'], ['Femme Fatale'], ['Sorority Boys'], ['Shanghai Noon'], ['K-PAX'], ['Robin Hood: Prince of Thieves'], ['Mrs. Doubtfire'], ['Poltergeist II: The Other Side'], ['King Kong'], ['Working Girl'], ['Dawn of the Dead'], ['Odd Couple, The'], ["Jacob's Ladder"], ['Night of the Living Dead'], ['Dark Knight Rises, The'], ['Kids'], ['Corruptor, The'], ['Karate Kid, Part III, The'], ['JFK'], ['American Beauty'], ['Beauty and the Beast (La belle et la bête)'], ['Willy Wonka & the Chocolate Factory'], ['Erin Brockovich'], ['Legends of the Fall'], ['Apollo 13'], ['While You Were Sleeping'], ['Campaign, The'], ['Roman Holiday'], ['Excess Baggage'], ['Trading Places'], ['Conan the Barbarian'], ['Weird Science'], ['Conversation, The'], ['Rock, The'], ['Control'], ['Abyss, The'], ['Spider-Man 2'], ['Anastasia'], ['Blues Brothers, The'], ["Bug's Life, A"], ['Jerry Maguire'], ['War of the Worlds'], ['Sgt. Bilko'], ['Babe'], ['Footloose'], ['Monty Python and the Holy Grail'], ['Man for All Seasons, A'], ["Peter's Friends"], ['Free Willy'], ['Judge Dredd'], ['Austin Powers: The Spy Who Shagged Me'], ['Blow'], ['Beautiful Mind, A'], ['Lost World: Jurassic Park, The'], ['Traffic'], ['Batman'], ['Avalon'], ['Swingers'], ['Hamlet'], ['Escape from New York'], ['Common Wealth (Comunidad, La)'], ['To Sir with Love'], ["Amores Perros (Love's a Bitch)"], ['Ray'], ["'burbs, The"], ['Crouching Tiger, Hidden Dragon (Wo hu cang long)'], ['V for Vendetta'], ['American Beauty'], ['Top Gun'], ['Good Will Hunting'], ['Stargate'], ['Volcano'], ['Hairspray'], ['It Happened One Night'], ['Pirates of the Caribbean: The Curse of the Black Pearl'], ['Elizabeth'], ['Frankenstein'], ['Monty Python and the Holy Grail'], ['Elephant Man, The'], ['As Good as It Gets'], ['Master and Commander: The Far Side of the World'], ['Tin Cup'], ['Natural Born Killers'], ['Die Hard'], ['2 Fast 2 Furious (Fast and the Furious 2, The)'], ["Ocean's Thirteen"], ['Citizen Kane'], ['Mortal Kombat'], ['Ali'], ['Hero (Ying xiong)'], ['Sixth Sense, The'], ['Bulworth'], ['Die Hard'], ['Conquest of the Planet of the Apes'], ['Nightmare on Elm Street, A'], ['Counterfeiters, The (Die Fälscher)'], ['The Interview'], ['Ghostbusters II'], ['Color Purple, The'], ['Star Trek: Generations'], ['Dr. No'], ['Independence Day (a.k.a. ID4)'], ['Risky Business'], ['Midnight Run'], ['Son in Law'], ['Spy Kids'], ['American Buffalo'], ['Star Trek IV: The Voyage Home'], ['Wordplay'], ['Jumanji'], ['Birds, The'], ['Old Yeller'], ['Imagine Me & You'], ["Schindler's List"], ['Cliffhanger'], ['Dazed and Confused'], ['Dumbo'], ['Muppets Take Manhattan, The'], ['Under Siege'], ['Who Framed Roger Rabbit?', 'Crank'], ['Simple Plan, A'], ['Pitch Black'], ['Hercules'], ['Parenthood'], ['Big Blue, The (Grand bleu, Le)'], ['Kull the Conqueror'], ['Rififi (Du rififi chez les hommes)'], ['Dark Knight, The'], ['Rain Man'], ['Devil in a Blue Dress'], ['2001: A Space Odyssey'], ['Lantana'], ['True Lies'], ['Groundhog Day'], ['World Trade Center'], ['2001: A Space Odyssey'], ['Silence of the Lambs, The'], ['Primer'], ['Taxi Driver'], ['Seven (a.k.a. Se7en)'], ["Things to Do in Denver When You're Dead"], ['Dawn of the Dead'], ['Few Good Men, A'], ['Ghostbusters (a.k.a. Ghost Busters)'], ['(500) Days of Summer'], ['Clerks'], ['Social Network, The'], ['Imagine: John Lennon'], ['Kill Bill: Vol. 2'], ['50/50'], ['Grumpier Old Men'], ['Dragonheart'], ['Requiem for a Dream'], ['Ace Ventura: Pet Detective'], ['Apollo 13'], ['Cell, The'], ['Grease 2'], ['Serpico'], ['Shakespeare in Love'], ['Jaws'], ['Groundhog Day'], ['Straight Story, The'], ['Friday the 13th'], ['Bonnie and Clyde'], ['Little Miss Sunshine'], ['Snatch'], ['Butch Cassidy and the Sundance Kid'], ['El Dorado'], ['Three Kings'], ['Patriot, The'], ['3:10 to Yuma'], ['Lord of the Rings: The Fellowship of the Ring, The'], ['M*A*S*H (a.k.a. MASH)'], ['Kids'], ['Godfather: Part II, The'], ['Desperately Seeking Susan'], ['Exotica'], ['Spider-Man 3'], ['It Might Get Loud'], ['Horror of Dracula (Dracula)'], ["Hitch

In [19]:
itemsets, rules = apriori(transactions, min_support=0.001,  min_confidence=0.001, max_length=2)

In [20]:
rules=sorted(rules, key=lambda rule: rule.confidence)
for rule in rules:
    print(rule)

{Galaxy Quest} -> {Steal This Film} (conf: 0.333, supp: 0.001, lift: 328.667, conv: 1.498)
{Under Siege 2: Dark Territory} -> {Bushwhacked} (conf: 0.500, supp: 0.001, lift: 246.500, conv: 1.996)
{Bushwhacked} -> {Under Siege 2: Dark Territory} (conf: 0.500, supp: 0.001, lift: 246.500, conv: 1.996)
{Butch Cassidy and the Sundance Kid} -> {Name of the Rose, The (Name der Rose, Der)} (conf: 0.500, supp: 0.001, lift: 493.000, conv: 1.998)
{Cold Mountain} -> {Tora! Tora! Tora!} (conf: 0.500, supp: 0.001, lift: 493.000, conv: 1.998)
{Conversation, The} -> {School of Rock} (conf: 0.500, supp: 0.001, lift: 493.000, conv: 1.998)
{Who Framed Roger Rabbit?} -> {Crank} (conf: 0.500, supp: 0.001, lift: 493.000, conv: 1.998)
{Terms of Endearment} -> {Like Water for Chocolate (Como agua para chocolate)} (conf: 0.500, supp: 0.001, lift: 493.000, conv: 1.998)
{Mask, The} -> {Total Recall} (conf: 0.500, supp: 0.001, lift: 493.000, conv: 1.998)
{Monsters, Inc.} -> {Priceless (Hors de prix)} (conf: 0.500, supp: 0.001, lift: 493.000, conv: 1.998)
{Matrix Reloaded, The} -> {Batman Forever} (conf: 1.000, supp: 0.001, lift: 986.000, conv: 998985801.217)
{Batman Forever} -> {Matrix Reloaded, The} (conf: 1.000, supp: 0.001, lift: 986.000, conv: 998985801.217)
{Jersey Girl} -> {Brink's Job, The} (conf: 1.000, supp: 0.001, lift: 986.000, conv: 998985801.217)
{Brink's Job, The} -> {Jersey Girl} (conf: 1.000, supp: 0.001, lift: 986.000, conv: 998985801.217)
{Name of the Rose, The (Name der Rose, Der)} -> {Butch Cassidy and the Sundance Kid} (conf: 1.000, supp: 0.001, lift: 493.000, conv: 997971602.434)
{Tora! Tora! Tora!} -> {Cold Mountain} (conf: 1.000, supp: 0.001, lift: 493.000, conv: 997971602.434)
{School of Rock} -> {Conversation, The} (conf: 1.000, supp: 0.001, lift: 493.000, conv: 997971602.434)
{Crank} -> {Who Framed Roger Rabbit?} (conf: 1.000, supp: 0.001, lift: 493.000, conv: 997971602.434)
{Head-On (Gegen die Wand)} -> {Decalogue, The (Dekalog)} (conf: 1.000, supp: 0.001, lift: 986.000, conv: 998985801.217)
{Decalogue, The (Dekalog)} -> {Head-On (Gegen die Wand)} (conf: 1.000, supp: 0.001, lift: 986.000, conv: 998985801.217)
{Thing, The} -> {For a Few Dollars More (Per qualche dollaro in più)} (conf: 1.000, supp: 0.001, lift: 986.000, conv: 998985801.217)
{For a Few Dollars More (Per qualche dollaro in più)} -> {Thing, The} (conf: 1.000, supp: 0.001, lift: 986.000, conv: 998985801.217)
{Steal This Film} -> {Galaxy Quest} (conf: 1.000, supp: 0.001, lift: 328.667, conv: 996957403.651)
{Pay It Forward} -> {Gangs of New York} (conf: 1.000, supp: 0.001, lift: 986.000, conv: 998985801.217)
{Gangs of New York} -> {Pay It Forward} (conf: 1.000, supp: 0.001, lift: 986.000, conv: 998985801.217)
{Like Water for Chocolate (Como agua para chocolate)} -> {Terms of Endearment} (conf: 1.000, supp: 0.001, lift: 493.000, conv: 997971602.434)
{Total Recall} -> {Mask, The} (conf: 1.000, supp: 0.001, lift: 493.000, conv: 997971602.434)
{Priceless (Hors de prix)} -> {Monsters, Inc.} (conf: 1.000, supp: 0.001, lift: 493.000, conv: 997971602.434)

In [21]:
np.shape(rules)

(28,)

## Ejemplos citados en Resumen:

Ejemplo 1

In [29]:
Calificaciones_Peliculas_Min[Calificaciones_Peliculas_Min['title'] == 'Matrix Reloaded, The']

         userId  movieId                 title
9032551   45300     6365  Matrix Reloaded, The

In [30]:
Calificaciones_Peliculas_Min[Calificaciones_Peliculas_Min['userId'] == 45300]

         userId  movieId                 title
7422341   45300      153        Batman Forever
9032551   45300     6365  Matrix Reloaded, The

Ejemplo 2

In [31]:
Calificaciones_Peliculas_Min[Calificaciones_Peliculas_Min['title'] == 'Galaxy Quest']

         userId  movieId         title
6889833   38655     3175  Galaxy Quest
6891564   55594     3175  Galaxy Quest
6895059   90652     3175  Galaxy Quest

In [32]:
Calificaciones_Peliculas_Min[Calificaciones_Peliculas_Min['userId'] == 38655]

          userId  movieId            title
6889833    38655     3175     Galaxy Quest
19964056   38655    74512  Steal This Film

In [33]:
Calificaciones_Peliculas_Min[Calificaciones_Peliculas_Min['userId'] == 55594]

         userId  movieId         title
6891564   55594     3175  Galaxy Quest

In [34]:
Calificaciones_Peliculas_Min[Calificaciones_Peliculas_Min['userId'] == 90652]

         userId  movieId         title
6895059   90652     3175  Galaxy Quest